/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.content-size {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #f5f8ff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Shared Styles */

.primary-font {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  

}
.secondary-font {
  font-family: "Noto Serif", serif;

}

.primary-btn {
  background-color:rgb(233, 90, 8) ;
  color: white;
  border: none;

}

/* NavBar Styles */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.3rem;
}

.nav-bar img {
  max-width: 150px;
}
/* Nav Menu */

.nav-menu {
  display: flex;
  gap: 3rem;

}

.nav-menu a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}

.nav-menu a:nth-child(1) {
  font-weight: 700;
  color: black;
}

.nav-menu a:nth-child(4) {
  color: black;
}

/* Banner Section */

.banner-section {
  margin-top: 8rem;
  display: flex;
  gap: 3.3rem;
}

/* Banner Content */


.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.banner-content span {
  color: rgb(233, 90, 8);
}


.banner-content p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Banner/Hero Image */
.banner-img {
  /* flex: 1; */
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Products Showcase Section */

.product-showcase {
  margin-top: 7.5rem;
  text-align: center;
}

.product-showcase h3 {
  font-size: 3rem;
  font-weight: 700;
}

.product-showcase span {
color:  rgb(233, 90, 8) ;
}

.product-showcase p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5) ;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1rem;
}

.product img {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.product h4{
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
  
}

.product h4:nth-child(3) {
  font-weight: 700;
  margin-top: 1rem;
}

.product button {
  width: 16.875rem;
  height: 3.125rem;
  margin-top: 1.5rem ;
  font-weight: 600;
}


/* Flower & Plant Lover Section */

.flower-lover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 9rem;
  gap: 4rem;
}

.lover-img {
  width: 100%;
  max-width: 100%;
  
}

/* lover content */
.lover-content ul{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.lover-content h3 {
  font-size: 4rem;
  font-weight: 700;
}

.lover-content ul li{
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  list-style-position: outside;
  margin-left: 2rem;
  
}

/* badge */
.lover-content img {
  width: 17.5rem;
  position: absolute;
  transform: translate(-15rem, -40rem);
  filter: drop-shadow(-.25rem .4rem .25rem rgba(0, 0, 0, 0.25));

}

/* Deals Title Section */

.deals {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.deals-title {
  font-size: 4rem;
  font-weight: 700;
}

.deals span {
  color: rgb(233, 90, 8);
}
.deals p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
  
}


/* Deals Card Section */

.deal-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 5rem;
}

.deal-card h3 {
  font-size: 1.25rem;
  font-weight: 700;
  
}
.deal-card a {
  font-size: 1.rem;
  text-decoration: underline;
  color: white;

}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}



.bloom {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.bloom img {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  display: block;
  
}
.ana {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.ana {
  /* width: 100%; */
  max-width: 100%;
  height: auto;
  display: block;
}


.right-side {
  flex: 2;
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}


.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.zabo h3 {
  font-size: 3rem;
}


/* Join us Section */
.join-us {
  margin-top: 9rem;
  background-image: url(./assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.join-us h3 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
}

.form {
  display: flex;
  align-items: center;
  
}

.form input {
  width: 40vw;
  height: 3rem;
  padding-left: 1.25rem;
  font-size: 1rem;
  border: none;
  
}

.form button {
  width: 12rem ;
  height: 3rem;
}

/* Footer Section */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4rem auto;
  gap: 5.5rem;
}

.footer-logo {
  flex: 1;
}

.footer-logo img {
  max-width: 150px;
}

.footer-logo p {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex: 2;
  
}

.footer-nav a {
  width: 50%;
  line-height: 3rem;
  text-decoration: none;
  color: rgb(107, 114, 128);
  justify-self: center;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons img {
  width: 100%;
  height: auto;
}

/* Responsive Design for MOBILE */

@media (max-width:768px) {
   body {
    padding: 1rem; 
  }

  .nav-menu a:nth-child(1) ,
  .nav-menu a:nth-child(2) ,
  .nav-menu a:nth-child(3) {
    display: none;
  }


.banner-section { 
  flex-direction: column-reverse;
}


.banner-content h1{
  font-size: 3rem;
}

.all-products {
  grid-template-columns: repeat(2, 1fr);
}

.flower-lover {
  flex-direction: column;

}

.lover-content img {
  display: none;
}

.lover-content ul li{
  margin-left: 0;
   list-style-position: inside;
}

.deal-card {
  flex-direction: column;
  width: 100%;
}

.deal-card h3 {
  font-size: 2rem;
}


.join-us h3 {
  font-size: 2rem;
}



/* footer  */
.footer {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}


.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-logo p {
  font-size: 1rem;
}
.footer-nav a {
  width: 100%;
}

}