/* Global Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.content-size {
  width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #f5f8ff;
}

/* Shared Styles */

.primary-font {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  

}
.secondary-font {
  font-family: "Noto Serif", serif;

}

.primary-btn {
  background-color:rgb(233, 90, 8) ;
  color: white;
  border: none;

}

/* NavBar Styles */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.3rem;
}

/* Nav Menu */

.nav-menu {
  display: flex;
  gap: 3rem;

}

.nav-menu a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}

.nav-menu a:nth-child(1) {
  font-weight: 700;
  color: black;
}

.nav-menu a:nth-child(4) {
  color: black;
}

/* Banner Section */

.banner-section {
  margin-top: 8rem;
  display: flex;
  gap: 3.3rem;
}

/* Banner Content */

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.banner-content h1 {
  font-size: 4rem;
  font-weight: 700;
}
.banner-content span {
  color: rgb(233, 90, 8);
}


.banner-content p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5);
}

/* Banner/Hero Image */
.banner-img {
  flex: 1;
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Products Showcase Section */

.product-showcase {
  margin-top: 7.5rem;
  text-align: center;
}

.product-showcase h3 {
  font-size: 3rem;
  font-weight: 700;
}

.product-showcase span {
color:  rgb(233, 90, 8) ;
}

.product-showcase p {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.5) ;
  margin-top: 1rem;
  margin-bottom: 3rem;
  
}

.all-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1rem;
}

.product {
  
}

.product img {
  margin-bottom: 1.5rem;
}

.product h4{
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
  
}

.product h4:nth-child(3) {
  font-weight: 700;
  margin-top: 1rem;
}

.product button {
  width: 16.875rem;
  height: 3.125rem;
  margin-top: 1.5rem ;
  font-weight: 600;
}






/* Responsive Design for MOBILE */

@media (max-width:768px) {
  .nav-menu a:nth-child(1) ,
  .nav-menu a:nth-child(2) ,
  .nav-menu a:nth-child(3) {
    display: none;
  }

.banner-section { 
  flex-direction: column-reverse;
}

.all-products {
  grid-template-columns: repeat(2, 1fr);
}

}